@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


@font-face {
  font-family: Aeonik;
  src: url('../static/Aeonik-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Aeonik;
  src: url('../static/Aeonik-Regular.ttf');
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: Aeonik, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

h1,
h2,
p,
pre {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

svg {
  display: block;
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}


//zklink custom


.gradient-border {
  border: 1px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #021523, #021523),
    linear-gradient(90deg, #48ecae, #3e52fc, #49ced7);
}

.gradient-text {
  background: linear-gradient(to right, #48ecae, #3e52fc, #49ced7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-btn {
  border-radius: 4px;
  background: var(--MEMECOIN, linear-gradient(90deg, #6276E7 0%, #E884FE 100%));
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.gradient-btn.default {
  background: rgba(0, 0, 0, 0.4);
}

.gradient-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4 !important;
}

.gradient-secondary-btn {
  border: 1px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #222, #222),
    linear-gradient(90deg, #8f41e9, #578aef);
}

.gradient-secondary-btn:disabled {
  cursor: not-allowed;
}

.default-btn {
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #a0a5ad;
  background: #1e1f24;
  border: none;
}

.default-btn:hover {
  background-color: #2f313a;
}

.not-active:first-child {
  background-color: red;
}

.not-active-1:first-child .bar {
  display: none;
}

@media (max-width: 768px) {
  .btn-default {
    min-width: auto;
    padding: 0 10px;
    gap: 0;
    border-radius: 8px;
    background: linear-gradient(to right, #48ecae, #3e52fc, #49ced7);
  }

  .padX {
    padding: 0 20px;
  }

  .bg-mobile {
    background: rgba(0, 0, 0, 0.9) !important;
  }

  .navbar-menu {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.bg-transparent {
  background: transparent !important;
}