.card-container {
  perspective: 1000px;
  width: 270px;
  height: 320px;
}
.shadow {
  perspective: 1000px;
  width: 20px;
  height: 320px;
  opacity: 0.4;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-inner,.disTranform {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  // transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  // background-color: #3498db;
}

.card-back {
  background-color: #1A1F24;
  transform: rotateY(180deg);
}

p {
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 260px;
}
.backButton{
  width: 100%;
  height: 44px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--MEMECOIN, linear-gradient(90deg, #6276E7 0%, #E884FE 100%));
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}
.backButton:hover{
  border: 1px solid #E884FE;
}
.disabled{
  width: 100%;
  height: 44px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  opacity: 0.6;
  background: var(--MEMECOIN, linear-gradient(90deg, #6276E7 0%, #E884FE 100%));
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}

.gradientBorder {
  // position: relative;
}

.gradientBorder:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 16px; /* 圆角 */
  background: linear-gradient(45deg, #3333ff, #ff00cc);
  animation: gradientBorder 1s infinite linear;
}

@keyframes gradientBorder {
  0% {
    background: linear-gradient(45deg, #3333ff, #ff00cc);
  }
  10% {
    background: linear-gradient(81deg, #3333ff, #ff00cc);
  }
  20% {
    background: linear-gradient(117deg, #3333ff, #ff00cc);
  }
  30% {
    background: linear-gradient(153deg, #3333ff, #ff00cc);
  }
  40% {
    background: linear-gradient(189deg, #3333ff, #ff00cc);
  }
  50% {
    background: linear-gradient(225deg, #3333ff, #ff00cc);
  }
  60% {
    background: linear-gradient(261deg, #3333ff, #ff00cc);
  }
  70% {
    background: linear-gradient(297deg, #3333ff, #ff00cc);
  }
  80% {
    background: linear-gradient(333deg, #3333ff, #ff00cc);
  }
  90% {
    background: linear-gradient(9deg, #3333ff, #ff00cc);
  }
  100% {
    background: linear-gradient(45deg, #3333ff, #ff00cc);
  }
}
.mask{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}